body {
  all: unset;
}

body #App {
  height: 100vh;
  width: 100%;
  background-color: #463995;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .site-info {
  position: absolute;
  bottom: 10px;
  right: 40px;
  color: #d5d5d5;
  font-size: .6rem;
}

body .site-info a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

#ranking .logo {
  width: 150px;
}

#ranking .title {
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  color: #272727;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
  height: 50px;
  line-height: 50px;
  letter-spacing: -3px;
  margin: .6em 0 .5em 0;
}

#ranking .ranking-box {
  width: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
}

#user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 85px;
}

#user:nth-child(2n) {
  background-color: #efefef;
}

#user .avatar-box {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#user .avatar-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid #6bbef2;
}

#user .avatar-box .position {
  position: absolute;
  right: 13px;
  bottom: 5px;
  font-size: .7em;
  font-weight: bold;
  color: #555;
  background-color: #fff;
  width: 15px;
  height: 15px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #666;
}

#user .info-box {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

#user .info-box p {
  margin: 0;
  letter-spacing: -.5px;
  font-weight: 600;
}

#user .info-box .name {
  font-size: .9em;
  color: #333;
}

#user .info-box .description {
  font-size: .6em;
  color: #888;
}

#user:hover {
  background-color: #1cbcb4;
}

#user:hover .avatar-box img {
  border-color: #fff;
}

#user:hover .info-box .name {
  color: #fff;
}

#user:hover .info-box .description {
  color: #333;
}

#user:hover #avaliation {
  opacity: 1;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

#avaliation {
  position: absolute;
  -webkit-transition: opacity .4s ease-in;
  transition: opacity .4s ease-in;
  left: 310px;
  top: 20px;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background-color: #fff;
  border-radius: 4px;
  opacity: 0;
}

#avaliation .box-avaliation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#avaliation .box-avaliation.positive {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#avaliation .box-avaliation.positive .avaliation--title {
  border-top-left-radius: 4px;
}

#avaliation .box-avaliation.negative {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  border-left: 1px solid #999;
}

#avaliation .box-avaliation.negative .avaliation--title {
  border-top-right-radius: 4px;
}

#avaliation .box-avaliation .avaliation--title {
  font-size: .5em;
  font-weight: bold;
  background-color: #e0595f;
  margin: 0;
  color: #fff;
  padding: 3px 6px 1px 6px;
}

#avaliation .box-avaliation .avaliation--percentage {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
  color: #909090;
}

#avaliation:before {
  content: '';
  width: 7px;
  height: 7px;
  background-color: #fff;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 17px;
  left: -3px;
}
/*# sourceMappingURL=index.css.map */